* {
    padding: 0px;
    margin: 0px;
}

.buy-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background: var(--tg-theme-button-color, #4CAF50);
    color: var(--tg-theme-button-text-color, white)
}

body {
    padding-top: 60px;
    background-color: var(--tg-theme-bg-color, rgb(255, 255, 255)) !important;
    color: var(--tg-theme-text-color, rgb(0, 0, 0)) !important;
}

h1,
h2,
h3,
p {
    color: var(--tg-theme-text-color, rgb(0, 0, 0))
}

.product-input-amount {
    max-width: 100px;
}

.product-input-amount input {
    padding: 0px;
}

.product-input-amount button {
    max-width: 5px;
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.icon-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5px;
    cursor: pointer;
    padding: 0.5px;
    text-align: center;
}

.icon {
    font-size: 14px;
}

.text {
    font-size: 10px;
    white-space: nowrap;
}

@media (min-width: 400px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}