.card-list .card-img {
    width: 350px;
}

.card-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-list .card {
    margin: 10px;
    border: none
}

.card-content-description {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.card-content {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 10px
}

.card-price {
    color: var(--tg-theme-link-color, #4CAF50);
}

.title {
    margin: 20px 10px;
    text-align: center;
}